<main class="center" id="main" role="main">

  <div class="page-area">
      <!--This is the second semantic change-->
      <section>

      <pb-article>
          <p>
              <pb-breadcrumbs></pb-breadcrumbs>
          </p>
      </pb-article>

      <pb-article>
        <h2>Stay on trackzzzz</h2>
        <p>Do you know where you are spending your money? If you really stop to track it down,
          you would get surprised! Proper budget management depends on real data... and this
          app will help you with that!</p>
      </pb-article>



      <pb-article>
          <h2>Alerts</h2>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>

      <pb-article>
          <h2>Results</h2>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>

      <pb-article>
          <h2>Free</h2>
          <p>
              This app is free!!! And you are the only one holding your data!
          </p>
      </pb-article>

      <pb-article>
          <h2>Stay on track</h2>
          <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </pb-article>

      <pb-article>
          <h2>Alerts</h2>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>

      <pb-article>
          <h2>Results</h2>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>

      <article>
          <h2>Chart</h2>
          <p>
              <!--this is a A11y change (third)-adding adding alternate text to images-->
              <canvas id="myChart" width="400" height="400" alt="Financial data representation"></canvas>
          </p>
      </article>
      <article>
        <h1>D3.js</h1>
        <p>
            <svg id="donut"></svg>
        </p>
    </article>
  </section>
  </div>

</main>
